<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script src="https://liquidtelecomsa--patchtest.my.salesforce.com/lightning/lightning.out.js"></script>
<script defer>
  console.log('here', window);
  $Lightning.use(
    'c:MapLightningOut',
    function () {
      $Lightning.createComponent(
        'c:maptoSite',{},
        'patchtest',
      );
    },
    'https://liquidtelecomsa--patchtest.my.salesforce.com/','aa'
    //,'00D5t0000004cDc!ARUAQHyrrcsE7hJzDM9xQIQlMahHSayhy_EHJt_ClkXa_anQw4siSzYkGoX8dmBb5Yt9BQarBA.Dmqh_C8UbOrL9f_Tuqn05'
  );
</script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="patchtest"></div>
  </body>
</html>
