<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<script src="https://brave-otter-f2ntzu-dev-ed.lightning.force.com/lightning/lightning.out.js"></script>
<script defer>
  console.log('here', window);
  $Lightning.use(
    'c:mapout',
    function () {
      $Lightning.createComponent(
        'c:maptoSite',{},
        'lightning',
        /* function (cmp) {
          console.log('LWC component was created');
          // do some stuff
        } */
      );
    },
    'https://brave-otter-f2ntzu-dev-ed.lightning.force.com',
    '00DIw0000009i1n!ARcAQI7YZ1E5SxcSrFiUBzO2D.6T0cWh9aYA0vyJCCyDSFVpYbu_L3lm_4t.0Oy96cQ1GSKdTZRfX5UYSED3.VGwkvbdWxTK'
  );

  $Lightning.use(
    'c:MapLightningOut',
    function () {
      $Lightning.createComponent(
        'c:maptoSite',{},
        'patchtest',
      );
    },
    'https://liquidtelecomsa--patchtest.my.salesforce.com',
    '00D5t0000004cDc!ARUAQHyrrcsE7hJzDM9xQIQlMahHSayhy_EHJt_ClkXa_anQw4siSzYkGoX8dmBb5Yt9BQarBA.Dmqh_C8UbOrL9f_Tuqn05'
  );
</script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="lightning"></div>
    <div id="patchtest"></div>

  </body>
</html>
